<!DOCTYPE html>
<html ng-app="ourWedding" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Wedding Invitation</title>

     <!-- Material Design fonts -->
    <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700"> -->
    <!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons"> -->

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Bootstrap Material Design -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-material-design/dist/css/ripples.min.css">

    <!-- customcss -->
    <link rel="stylesheet" type="text/css" href="css/main.css" charset="utf-8">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="WeddingCtrl">
    <div ng-show="onload" id="loading">
      <div class="rhombus2">
        <div class="circle21"></div>
        <div class="circle22"></div>
      </div>
      <div class="text">
          <p>Loading...</p>
      </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a ng-if="mobile" class="navbar-brand" href="#">Pipit <i class="fa fa-heart-o"></i> Ikhsan</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{'active': isActive('home')}"><a href="" ng-click="scrollTo('home')">Home</a></li>
            <li ng-class="{'active': isActive('mempelai')}"><a href="" ng-click="scrollTo('mempelai')">Mempelai</a></li>
            <li ng-class="{'active': isActive('akad')}"><a href="" ng-click="scrollTo('akad')">Akad</a></li>
            <li ng-class="{'active': isActive('peta')}"><a href="" ng-click="scrollTo('peta')">Peta</a></li>
            <li ng-class="{'active': isActive('mutiara')}"><a href="" ng-click="scrollTo('mutiara')">Mutiara Cinta</a></li>
          </ul>
        </div>
      </div>
  </div>
  <section id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <blockquote class="quran">
            <p>“Dan diantara tanda – tanda kekuasaan-Nya ialah cipataan-Nya untukmu pasangan hidup dari jenismu sendiri, supaya kamu mendapatkan ketenangan hati dan dijadikan-Nya kasih sayang diatara kamu. Sesungguhnya yang demikian menjadi tanda- tanda kebesaran-Nya bagi orang – orang yang berfikir” (QS. Ar Rum : 21)</p>
          </blockquote>
          <h1 class="couple">Pipit dan Ikhsan</h1>
          <h3>
            <span>
              ...Akan...
            </span>
          </h3>
          <h2><i class="fa fa-heart-o"></i> Menikah! <i class="fa fa-heart-o"></i></h2>
          <h4>Dan mohon doa restu untuk turut </h4>
          <h5><span>~ Mengundang ~</span></h5>
        </div>
      </div>
    </div>
  </section>
  <section id="mempelai">
    <div class="line"></div>
    <div class="about-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2 class="couple">Pipit</h2>
            <p>Pipit, nama panjang Fitriana, 25 tahun. Wanita dengan "sejuta cita - cita", belum tercapai cita - cita yang 1 sudah ada
            cita - cita lain. Suka eskrim, mi ayam dan cepet ngambek. Murah senyum, ramah, tapi drama.
            Usil tapi penakut.</p>
            <blockquote>
              <p>Cinta itu.. jika kamu langsung datang kerumah dan melamarku ~ #duhh</p>
              <small class="couple"><cite>Pipit</cite></small>
            </blockquote>
          </div>
          <!-- break -->

          <div class="col-md-4">
            <div class="about-img-container"></div>
            <!-- <img src="./img/averyson-logo.gif" class="about-img img-responsive"> -->
            <div class="logo">
              <span class="pipit">P</span>
              <span class="ampersand">&</span>
              <span class="ikhsan">I</span>
              <date>03.04.2016</date>
            </div>
          </div>

          <!-- break -->

          <div class="col-md-4">
            <h2 class="couple">Ikhsan</h2>
            <p>Ikhsan,nama panjang Abdul Fattah Ikhsan, 25 tahun. Pria dengan cita - cita menjadi pengusaha sukses dengan modal seadanya. Serius, pendiam, cuek. Ga akan ngomong sebelum ditanya. Hobi futsal, ngoding dan ngotak-ngatik semua yang ada di hp/laptop. Doyan komentar kadang sok tau.</p>
            <blockquote>
              <p>Cinta itu.. jika kamu bilang iya ~ waktu aku melamar dan bertanya "Maukah kau menikah denganku?" #eeaaa</p>
              <small class="couple"><cite>Ikhsan</cite></small>
            </blockquote>
          </div>
          <!-- break -->

        </div>
      </div>
    </div>
  </section>
  <section id="akad">
    <div class="line"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Akad Nikah dan Resepsi</h1>
          <h3><span>Akan Di Gelar Pada </span></h3>
           <!-- <h2>03, 2016</h2>
          <h5><span>~ April ~</span></h5> -->
          <h2><time datetime="2016-04-03">03.04.2016</time></h2>
          <h3><span>09.00 WIB - Selesai</span></h3>
          <address>
            Perum Bumi Lestari Jl. Merak Blok H34 No. 22-23,<br>
            RT.005 RW.017 Desa Mangun Jaya, <br> Tambun Selatan, Bekasi
          </address>
        </div>
      </div>
    </div>
  </section>
  <section id="peta">
    <div class="line"></div>
    <!-- <div class="row"> -->
        <ui-gmap-google-map center='map.center' zoom='map.zoom' options="map.options">
        <ui-gmap-marker idKey="marker.id" coords="marker.coords"></ui-gmap-marker>
        </ui-gmap-google-map>
    <!-- </div> -->
    <div id="info">
      <p>Double-click to zoom maps</p>
    </div>
  </section>
  <section id="mutiara">
    <div class="line"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Mutiara Cinta</h2>
          <ul class="content">
            <li class="list-unstyled content-item content-quote" ng-repeat="q in quotes">
              <blockquote>
                <p>{{q.quote}}</p>
              </blockquote>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="copyright">
    <div class="line"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="couple">Pipit dan Ikhsan</h2>
          <h3>Yang sangat berbahagia</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <ul class="list-inline social-icon">
            <li><a href="#" ng-sglclick="$evalAsync(twIkhsan())" ios-dblclick="twPipit()" class="icon-twitter" rel="tooltip" title="" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" ng-sglclick="$evalAsync(fbIkhsan())" ios-dblclick="fbPipit()" class="icon-facebook" rel="tooltip" title="" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="#" ng-sglclick="$evalAsyncg(gplusIkhsan())" ios-dblclick="gplusPipit()" class="icon-google" rel="tooltip" title="" data-placement="top" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" ng-sglclick="$evalAsync(instaIkhsan())" ios-dblclick="instaPipit()" class="icon-instagram" rel="tooltip" title="" data-placement="top" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
          </ul>
          <div id="info">
            <p>Double-click icon to view different link</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <p>Pipit &amp; Ikhsan's Wedding Invitation built with <i class="fa fa-heart-o"></i> by <a href="http://ikhsannetwork.com" target="_blank">@_IkhsanNetwork</a></p>
          <p> &amp; Proudly built with  <a href="http://angularjs.org" target="_blank">AngularJS</a></p>
          <p>Copyright © 2016 All Right Reserved.</p>
          <p>View on <a href="https://github.com/ikhsanalatsary/wedding-invitation" target="_blank">Github</a></p>
        </div>
      </div>
    </div>
  </section>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-media-queries/match-media.js"></script>
    <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script src="js/main.js"></script>
    <script type="text/javascript">
      $.material.init();
      $(".navbar-nav li a").click(function(event) {
        $(".navbar-collapse").collapse('hide');
      });
    </script>
  </body>
</html>